/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common */
.wrap{
    margin: 0 auto;
    width:1024px;
}

/* upperbar */
.upperbarMenu{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(230, 230, 230);
}
.upperbarMenu li{
    margin: 5px 10px;
}
.upperbarMenu a{
    text-decoration: none;
}

.upperbarMenu a:hover{
    background-color: black;
}
.facebookcolor{
    color: #3B5998;
}

.twittercolor{
    color: #1DA1F2;
}



/* header */
.header{
    display: flex;
    justify-content: space-between;
}
.headerlink{
    display: block;
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png) no-repeat ;
    width: 200px;
    height: 100%;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.headerlink:hover{
    background-color: gray;
}

.menubar{
    display: flex;
    align-items: center;
    padding: 18px;
}

.menubar a{
    display: block;
    text-decoration: none;
    color: rgb(81, 226, 146);
    margin: 0px 20px ;
    padding: 5px;
}

.menubar a:hover, .menubar a.active{
    border-bottom: 5px solid  rgb(81, 226, 146);
}

.pulldown_menu{
    display: none;
    position: absolute;
    margin: 10px 20px ;
    padding: 5px;
    color: white;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
}
.pulldown_menu li{
    margin-bottom: 5px;
    list-style-type: square;
    list-style-position: inside;
}

.pulldown_menu li:hover{
    cursor: pointer;
    color: darkgreen;
}
/* content */
.content{
    margin-bottom: 50px;
    position: relative;
}

.content h1{
    position: absolute;
    top: 150px;
    width: 974px;
    padding: 30px 25px;
    font-size: 30px;
    color: white;
    background-color:rgba(0,0,0,0.3);
    z-index: 2;
}

.banner{
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png) no-repeat; 
    background-size:cover;
}

.swiper-container {
    width: 1024px;
    height: 354px;
}
.courses{
    display: flex;
    justify-content: space-around;
}

.course_item{
    border: 1px solid black;
    width: 300px;
    margin-top: 50px;
    box-shadow: 0 0 8px grey;
    border: 0px #ffffff solid;
}
.course_item h2{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.course_item img{
    display: block;
    height: 40%;
    margin: 5px auto;
}

.course_item p{
    margin: 5px 10px;
}
.course_item li{
    list-style-type: disc;
    list-style-position: inside;
    margin: 5px 10px;
}

/* table */

.table_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.table_title{
    margin-top: 70px;
    margin-bottom: 30px; 
    font-size: 25px;
    text-align: center;
}
.comparison_table{
    font-size: 15px;
    width: 840px;
    text-align: left;
}
.comparison_table th, .comparison_table td{
    padding: 10px;
    border-top: 1px  solid #f4f4f4;
    border-bottom: 1px  solid #f4f4f4;
}

.comparison_table th{
    font-weight: bold;
    background-color: #f7f7f7;
}

.comparison_table .green{
    color: #b3e0d4;
}

/* form */

.infoform{
    background:linear-gradient(#01534a,#009872);
    margin-top: 55px;
    padding: 40px 15px 25px 20px;
    color: white;
}

.infoform h2{ 
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}

.infoform .wrap{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.infoform .wrap .item{
    padding-right: 10px;
}
.infoform .username,.infoform .tel, .infoform .email, .infoform .btn{
    font-size: 15px;
    display: block;
}
.infoform .username,.infoform .tel, .infoform .email{  
    margin-top: 10px;
    margin-bottom: 5px;
}

.infoform #username,.infoform #tel,.infoform #email{
    width: 455px;
    padding: 5px;
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
}

.infoform #username:focus,.infoform #tel:focus,.infoform #email:focus,.infoform .btn:focus{
    background-color: darkseagreen;
}
.infoform .question{
    margin-top: 10px;
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
    width: 485px;
}
.infoform .question:focus{
    background-color: darkseagreen;
}

.infoform .wrap .item .btn_container{
    display: flex;
    justify-content: flex-end;
}
.infoform .btn{
    display: block;
    margin-top: 15px;
    background-color: #00cc99;
    color: white;
    padding: 5px 15px;
    border: 0px;
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
    width: 60px;
}

.infoform .btn:hover{
    color: darkgreen;
    cursor: pointer;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    /* background: gray;
    color:white; */
    padding:10px;
}

.footerlink{
    display: block;
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png) no-repeat ;
    width: 200px;
    height: 100%;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.footerlink:hover{
    background-color: black;
}
.footer li{
    margin-bottom: 2px;
}


.danger{
    color: red;
}


/* toTop */

.toTop{
    position: fixed;
    /* bottom: 10px;
    right: 750px; */
    bottom: 0;
    right: 0;
    display: none;
}

.toTop a{
    text-decoration: none;
    font-size: 100px;
    color: teal;
}

.toTop a:hover{
    color: #00cc99;
}
